.signup__container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.signup__wrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 36px #557da526;
  border-radius: 20px;
  padding: 30px;
  width: 70%;
}
.password_container {
  display: flex;
  justify-content: space-between;
}
.password_container > div {
  width: 48%;
}
