.layout__countainer {
  padding: 0 10%;
  height: 100vh;
  overflow: auto;
  padding-bottom: 20px;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
